<div id="job_actions">
    <h3>Admin</h3>
    <ul>
    {% if not job.activated %}
        <li><a href="{{ path('job_edit', { 'token': job.token }) }}">Edit</a></li>
        <li><a href="{{ path('job_edit', { 'token': job.token }) }}">Publish</a></li>
    {% endif %}

        <li><a href="{{ path('job_delete', { 'token': job.token }) }}">Delete</a></li>
    {% if job.activated %}
        <li{% if job.expiresSoon %} class="expires_soon"{% endif %}>
        {% if job.expired %}
            Expired
        {% else %}
            Expires in <strong>{{ job.daysBeforeExpires }}</strong> days
        {% endif %}

        {% if job.expiresSoon %}
            - <a href="">Extend</a> for another 30 days
        {% endif %}
        </li>
    {% else %}
        <li>
            [Bookmark this <a href="{{ url('job_show', { 'token': job.token, 'company': job.company, 'location': job.location, 'position': job.position }) }}">URL</a> to manage this job in the future.]
        </li>
    {% endif %}
    </ul>
</div>