{% extends 'JobeetFinderBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'css/jobs.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content -%}
<div id="jobs">
    {% for category in categories %}
    <div class="category_{{ category.name|slugify }}">
        <div class="category">
            <div class="feed">
                <a href="">Feed</a>
            </div>
            <h1><a href="{{ path('category', { 'name': category.name|slugify }) }}">{{ category.name }}</a></h1>
        </div>

        {{ include('JobeetFinderBundle:Job:jobs.html.twig', { 'jobs': category.activeJobs }) }}

        {% if category.activeJobs|length > 10 %}
        <div class="more_jobs">
            and <a href="{{ path('category', { 'name': category.name|slugify }) }}">{{ category.activeJobs|length }}</a> more...
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
