{% extends 'JobeetFinderBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'css/jobs.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content -%}
<div id="jobs">
    {% for category in categories %}
    <div class="category_{{ category.name|slugify }}">
        <div class="category">
            <div class="feed">
                <a href="">Feed</a>
            </div>
            <h1>{{ category }}</h1>
        </div>

        <table class="jobs">
            <tbody>
            {% for job in category.activeJobs %}
                <tr class="{{ cycle('odd', 'even', loop.index) }}">
                    <td class="location">{{ job.location }}</td>
                    <td class="position">
                        <a href="{{ path('job_show', { 'company': job.company|slugify, 'location': job.location|slugify, 'id': job.id, 'position': job.position|slugify }) }}">
                            {{ job.position }}
                        </a>
                    </td>
                    <td class="company">{{ job.company }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
