{% extends 'JobeetFinderBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'css/jobs.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content -%}
<div id="jobs">
    <table class="jobs">
        <tbody>
        {% for job in jobs %}
            <tr class="{{ cycle('odd', 'even', loop.index) }}">
                <td class="location">{{ job.location }}</td>
                <td class="position">
                    <a href="{{ path('job_show', { 'token': job.token }) }}">
                        {{ job.position }}
                    </a>
                </td>
                <td class="company">{{ job.company }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
